@import "../variables";

button {
	border-radius:2px !important;
	font-weight: 200 !important;
	text-transform: uppercase;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
	cursor: pointer;
	text-decoration: none;
	outline: none !important;
	transform: translate3d(0px, 0px, 0px);
	border: 10px;
	box-sizing: border-box;
	display: inline-block;
	transition: $button-transition;
}

.btn-link {
	box-shadow: none;
}

.btn-link:hover {
	text-decoration: none;
}

.btn-link:hover, .btn-link-hover {
	color: $link-color-hover;
}

.btn-secondary {
	border: none;
}

.btn-link-active {
	color: $link-color-active;
}

.btn-danger i{
	color: white;
}