@import "../variables";

button {
  cursor: pointer;
  text-decoration: none;
  outline: none !important;
  transform: translate3d(0px, 0px, 0px);
  border: 10px;
  box-sizing: border-box;
  display: inline-block;
  transition: $button-transition;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-link-secondary {
  color: $link-color-secondary;
}