@import "../variables";
@import "../mixins/box-shadow-mixin";

.tabs-nav-container {
	.tabs-nav-inner {
		position: relative;
		display: inline-block;
	}
	background-color: $panel-heading-bg;
}

.tabs-nav {
	display: flex;
	flex-direction: row;
	background-color: $panel-heading-bg;
	button {
		font-weight: $input-font-weight;
		width: 200px;
		min-height: $btn-height;
		&.active {
			font-weight: 500;
		}
	}
}

.tab-line {
	bottom: 0px;
	display: block;
	height: 5px;
	margin-top: -2px;
	position: relative;
	transition: left 1s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	background-color: white;
}

.btn-tab {
	padding-top: 10px;
	box-shadow: none;
	border: transparent;
	border-radius: 0 !important;;
	background-color: $panel-heading-bg;
	&:hover {
		background-color: darken($panel-heading-bg, 4);

	}
	color: $tab-inactive-color;
	&.tab-active {
		color: $tab-active-color;
	}
}

.tab-item {
	display: none;
	padding-top: $input-padding-y;
	&.tab-active {
		display: block;
	}
}

.tab-icon {
	font-size: 1.4em;
	display: block;
}