.chip {
  height: 32px;
  background-color: $input-placeholder-color;
  padding: 0 10px;
  border-radius: 16px;
  margin-right: $input-padding-x;
  .chip-icon {
    cursor: pointer;
    margin-left: $input-padding-x;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $input-placeholder-color;
    background: darken($input-placeholder-color, 25);
  }
}