.FlexTable__row, .FlexTable__headerRow {
  border-bottom: 1px solid #eaeaea;
}

.FlexTable__headerRow {
  color: #666;
  text-transform: none;
}


.FlexTable__headerRowContent {
  font-weight: 200;
  &.FlexTable__headerRowContent--sorting {
    font-weight: bold;
  }
}


.VirtualScroll {
  background-color: $body-bg;
  &.absolute {
    position: absolute;
  }
}



.popover {

  &.in {
    .absolute {
      box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
      z-index: $zindex-dropdown;
      display: block;
    }
  }
  .absolute {
    display: none;
  }
}