button{
	font-family: Futura, sans-serif;
}

.btn{
    border-radius:25px!important;
    box-shadow: none!important;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: normal!important;
    padding: 0.85em 1.25em;
	background:#e7e9ea;
	color:$text-blue-default;

    i{
        margin-right:$default-margin - 5;
    }

	a{
		color:$white;
	}
}

.btn-primary{
	background:$brand-primary;
	color:$white;
}

.btn-secondary{
    background:$brand-secondary;
    color:$white;
}

.btn-dark{
	background:$text-blue-dark;
	color:$white;

	&:hover{
		background:$brand-secondary;
	}
}

.btn-add{
	background:$add-green;
	color:$white;
	padding:0.5rem 1rem;

	&.active{
		opacity:1!important
	}
}

.btn-green{
	background:$add-green;
	color:$white;

	&.active{
		opacity:1!important
	}
}

.btn-short{
    padding:0.5rem 1rem;
}

.btn-select{
    background:transparent;
    border:1px solid $input-border-color;
    color:$input-border-color;
	width:210px;

	i{
		display: block;
		float:right;
		margin-left:$default-margin;
	}

    &.active, &:hover{
        background:$select-green;
        border:1px solid $select-green;
        color:$white;
    }
}

.btn-hollow{
    background:none;
	border:1px solid $white;

	&.negative{
		border:1px solid $alert-danger-bg;
		color:$alert-danger-bg;
	}
}

.btn-negative{
    background:$alert-danger-bg;
    color:$white;
}

.btn-icon{
    height:30px;
    width:30px;
    border-width:2px;
    padding:0;
    background:none;
	&:disabled {
		background:none;
	}
    text-align: center;
    line-height: 20px;

    &.remove{
        border-color:$alert-danger-bg;
        color:$alert-danger-bg;
    }

    i{
        margin:0;
    }

	&.send{
		height:40px;
		width:40px;



		&:hover, &:focus, &:active{
			color:$white;
		}

		i{
			color:$brand-primary;
		}
	}
}

.btn-append{
	margin-left:$default-margin;
}

.btn-list{
    li{
        margin-bottom:10px;
        button{
            width:100%;
        }
    }
}

.confirm-footer{
    padding:$default-padding * 2;
}

@media(max-width:480px){
	.btn{
		padding:0.75em 1em;
	}
}