.card-layout{

}

.card{
	@extend .rounded;
	overflow:hidden;
}

.card-cover{
	background:url('/images/course-placeholder.jpg') 0 center;
	background-size:cover;
	height:150px;
	position: relative;
	.cover-footer{
		width:100%;
		position:absolute;
		bottom:0;
		padding: $default-padding;
		text-align:right;
		background:linear-gradient(rgba(black,0),rgba(black,0.5));

		i{
			color:white;
		}
	}
}

.card-title{
	font-size:18px;
	margin-bottom:0;

	& > a{
		display:inline-block;
		width:100%;
		text-decoration: none;
		color:#838f9f;

		p{
			margin-bottom:0;
			width:100%;
		}
	}

	ul{
		li{
			a i{
				opacity:0.5;
				color:#838f9f;

				&:hover{
					opacity:1;
				}
			}
		}
	}
}

.card-desc{
	height:50px;
	overflow:hidden;
	margin-bottom:$default-margin;
	width:100%;

	p{
		font-size:0.85em;
	}
}

.card-container{
	margin-bottom:$default-margin * 2;
	max-width:calc(100% / 3);
	min-width:calc(350px);
}

.full-card{
	width:480px;
	padding-top:$default-padding;

	h4{
		font-size:1em;
	}
}


//LANDSCAPE AND PORTRAIT MOBILE
@media (max-width:480px){
	.card-container{
		width:100%;
		min-width:100%;
	}

	.full-card{
		width:100%;
	}
}
