.aside-body{
    padding-left:250px;
}

.padded-content{
    padding:$default-padding * 3 $default-padding * 2;
}

.content-contained{
	width:75%;
	margin:0 auto;
}

.content{
	padding-top:60px;
}

.content-header{
	padding:$default-padding * 2;
	border-bottom:10px solid deepskyblue;

	.avatar{
		height:50px;
		width:50px;
	}

	h3{
		height:35px;
	}
}

.panel{
    background:$white;
    border-radius:$default-border-radius;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

    .panel-title{
        color:$text-grey-dark;
        margin-bottom:0;
    }

    .panel-sub-title{
        color:#9e9e9e;
        font-size: 14px;
        margin-bottom:0;
		line-height:16px;
		word-break: break-word;
    }

    .select{
        margin-left:$default-margin;
    }

	&.dark{
		background:$navbar-bg;
		color:$white;
	}
}

.panel-grey{
    background:$body-bg-alt;

    .select{
        background:$white;
    }

	.panel-title{
		color:$text-blue-dark;
		margin-bottom:0;
	}

	.panel-sub-title{
		color:$text-blue-light;
		font-size: 12px;
		margin-bottom:0;
	}

	.column{
		padding-top:0;
	}
}

.question-container{
    .question{
        width:calc(100% - 85px);
        border-radius: 50px;
        margin-left:$default-margin;

        textarea{
            width:92%;
            margin-left:$default-margin * 2;
        }

		.question-editor{
			width:92%;
		}
    }

	.ordering{
		ul{
			text-align:center;
			li{
				display: inline-block;
			}
		}
	}

	.question-actions{
		float:left;
	}
}

.add{
    @extend .dropable;
    border-width:3px;
    height:75px;
    background:transparent;
    border-radius:37.5px;
}

.question-num{
    @extend .panel;
    background: $brand-primary;
    width:75px;
    height:75px;
    line-height:75px;
    border:4px solid $white;
    color:$white;
	margin-bottom:0!important;
}


.append-button{
    height:75px;
    display: table-cell;
    vertical-align: middle;
    width:8%;

    button{
        display: block;
        margin:0 auto;
    }
}

.panel-head{
    margin-bottom:$default-margin;
}

.ordering{
	.btn{
		padding:5px;
		border:none;
	}
}

.padded{
    padding:$default-padding;
}

.padded2{
    padding:$default-padding * 2;
}

.panel-dialog{
    width:50%;
    margin:0 auto;
}

.highlight-bg{
    background:$body-bg-alt;
    border-bottom:1px solid $input-border-color;
    border-top:1px solid $input-border-color;
}

.list-layout{
    .panel-container{
        margin-bottom:$default-margin;

        ul{
            width:50%;
            margin-bottom:0;
			margin-top:8px;
        }

        .append-icon{
            i{
                position: relative;
                top:2px;
            }
        }

		.tray-item{
			ul{
				margin-top:0;
				float:right;
			}
		}
    }

    &.full-form .panel, &.full-form > .question-container{
        margin-bottom: $default-margin;
    }
}

.panel-container{
    .panel-tray{
        display:none;
        background:$body-bg-alt;
        border:1px solid $input-border-color;
        border-radius: 0 0 $default-border-radius $default-border-radius;
        margin:0 auto;
        width:98%;

		strong{
			color:#22262e;
		}

        .response-container{
            width: calc(100% - 250px);
			word-break: break-word;

			textarea{
				width:100%;
			}
        }

		.actions-right{
			width:200px;
			ul{
				width:auto;
				clear:right;
				margin-top:5px;
				li{
					cursor:pointer;
					&:hover{
						text-decoration: underline;
					}
					&:last-child{
						padding-right:0;
					}
				}
			}
		}
    }

    &.expanded{
        .panel-tray {
            display: block;
			font-size: 0.85em;
        }
    }
}

.tray-item{
    border-bottom:1px solid $input-border-color;
    padding:$default-padding;

    &:last-of-type{
        border-bottom:none;
    }

    p{
        margin-bottom:0;
        color:$navbar-bg;

        &.tray-title{
            margin-right:$default-margin * 4;
        }

		strong{
			color:$navbar-bg;
		}
    }

    & > div > p{
        opacity:0.5
    }
}

.col-md-2{
    .select{
        width:auto;
    }
}

@media (max-width:480px){
	.panel .list-inline li{
		width:auto;
	}

	.highlight-bg{
		.sorting{
			width:100%;
			float:none;
		}
	}

	.content-contained{
		width:100%;
	}

	.question-container{
		.question-num{
			height:25px;
			width:25px;
			line-height:25px;
			font-size:10px;
			border-width:1px;
			float:left;
		}

		.question{
			width:100%;
			border-radius: 10px;
			margin:0;

			textarea{
				margin:0;
				width:calc(100% - 34px);
			}

			.question-editor{
				margin:0;
				width:calc(100% - 34px);
			}

			.append-button{
				.btn{
					padding:0;
					position: relative;
					z-index: 10;
				}
			}
		}
		.question-actions{
			float:none;
			margin-bottom:5px;

			.ordering{
				button{
					margin-top:0;
					padding:0 5px;
					i{
						position: relative;
						bottom:5px;
					}
				}
			}

		}

		.ordering{
			float:right;
			ul{
				margin:0;
			}
		}

		.append-button{
			width:auto;
			height:75px;
			float:right;
		}
	}
	.list-layout .panel-container{
		.tray-item{
			.tray-list{
				float:left;
				clear:left;
				width:100%;
				margin-top:10px;

				li{
					float:left;
				}
			}
		}
	}

	.padded-content{
		padding:$default-padding * 2 $default-padding * 1;
	}

	.padded2{
		padding:$default-padding;
	}
}