.modal{

	.modal-dialog{
		max-width: 750px;
	}

	.modal-header{
		background:$body-bg-alt;
		border-radius:$default-border-radius $default-border-radius 0 0;
		padding:$default-padding * 3;

		.header-title{
			float:left;
		}

		h3{
			margin-bottom:$default-margin / 2;
			font-size:24px;
		}

		p{
			margin:0;
		}
	}

	&.invite-modal{
		.modal-dialog{
			width:500px;

			p{
				margin-bottom: 0.25em;
			}
		}

		.modal-header{
			background:$brand-primary;
			color:$white;
		}
	}

	.btn-select{
		width:auto;
	}
}

.search-container{
	position: relative;

	input{
		text-indent: $default-margin * 2;
	}

	i{
		position: absolute;
		top:13px;
		left:12px;
	}
}

@media (max-width:480px){
	.modal{
		&.invite-modal{
			.modal-dialog{
				width:100%;

				.prepend-input{
					margin-bottom:$default-margin * 2;
				}
			}
		}

		.modal-header{
			.header-title{
				float:none;
			}
		}
	}

}

.modal-backdrop {
	display: none !important;
}