nav.navbar {
  .tabs {
    display: inline-block;
    .tabs-nav {
      width: 380px;
    }
    .btn {
      background-color: transparent;
      color: $navbar-color;
      &.tab-active {
        color: $brand-secondary;
      }
      border-color: transparent;
    }
    .tab-item {
      padding: 0;
    }
  }
  .navbar-right {
    float: right;
    height: 44px;
    > * {
      display: inline-block;
      height: 44px;
      line-height: 44px;
      display: inline-block;
    }
  }
  .popover-right {
	  left: -75px;
	  top: 35px;
  }
}