.text-blue-dark{color:$text-blue-dark!important;}
.text-blue-default{color:$text-blue-default!important}
.text-blue-light{color:$text-blue-light}

.text-grey-dark{color:$text-grey-dark}
.text-grey-light{color:$text-grey-light}

.serif{font-family: Palatino, serif}
.san-serif{font-family:Futura, sans-serif}
.coustard{font-family: 'Coustard', serif;}
.sup{font-size: 10px;}
.p-large{
    font-size:1.25em;
}
.p-title{
	font-size:1.25em;
	margin:10px 20px;
}
.muted{opacity:0.5;}

.highlight{
    color:$highlight-green;
}

.green-text{
	color:#00d5ac;
}

.orange-text{
	color:$brand-secondary;
}

.title{
	color:$text-grey-dark;
	margin-bottom:0;
}

.sub-title{
	color:$text-grey-light;
	font-size: 12px;
	margin-bottom:0;
}

.quote{
	font-style: italic;
}

.content{
	h1{
		font-size:24px;
	}
}

strong{
	font-weight:700;
}