//MARGIN AND PADDING
$base-gutter:      20px;

//COLOURS

$brand-green:       #43d4ad !default;
$action-yellow:     #ffc425 !default;

$white:             #ffffff !default;
$base-grey:         #eeeeee !default;
$panel-grey:        #e1e1e1 !default;
$component-grey:    #b7b7b7 !default;
$dark-grey:         #4d4d4d !default;

$input-inner-shadow: #b7b7b7;

//PANELS

$panel-border-radius:   10px;
$mobile-carousel: 200px;
$standard-carousel: 400px;

//FORMS
$input-border-radius:   10px;
$input-height: 50px;

//SCAFFOLDING

$mobile-portrait:   320px;
$mobile-landscape:  480px;
$tablet-portrait:   768px;
$tablet-landscape:  1024px;
