{
    "presets": [
        ["next/babel", {
            "preset-env": {
                "targets": "last 2 versions"
            }
        }]
    ],
    "env": {
        "production": {
            "plugins": [
            ]
        }
    },
    "plugins": [
        ["module-resolver", {
            "alias": {
                "components": "./components/",
                "common": "./common/"
            }
        }]
    ]
}
