*.iml
*.log*
.DS_Store
.idea
.next
.now
.nyc_output/*
.vscode
build/
coverage/*
dist
e2e_screenshots
mobile/*.app.dSYM.zip
mobile/common-mobile/
mobile/fastlane/report.xml
node_modules/
npm-debug.log
out
pacts/*
reports/
reports/*
tests/tokens.json
