<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>TheApp</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict/>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.18.1</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ssgfeb</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1.18.1</string>
    <key>CodePushDeploymentKey</key>
    <string>cphbl2WbvVo3Maa_I8yW97-9W5RryaKklTWhx</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <string>NO</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>We use bluetooth to</string>
    <key>NSCameraUsageDescription</key>
    <string>We use your camera to allow you to scan your card</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Enabling Face ID allows you quick and secure access to your account.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We use geolocation for personalisation and localisation</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We use geolocation for personalisation and localisation</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We use the photo library to allow you to upload an avatar</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>We use analytics tracking to help improve our product.</string>
    <key>UIAppFonts</key>
    <array>
      <string>FontAwesome5_Pro_Brands.ttf</string>
      <string>FontAwesome5_Pro_Light.ttf</string>
      <string>FontAwesome5_Pro_Regular.ttf</string>
      <string>FontAwesome5_Pro_Solid.ttf</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>