.table {
    &--loading {
        opacity: 0.5;
    }
    &__header {
        padding: .5em;
    }
    &__row {
        padding: .5em;
        &:hover {
        }
    }
    td {
        border-top: 0px;
        vertical-align: middle;
    }
    thead th {
        border-top: 0px;
        font-weight: inherit;
    }
    &--no-shadow {
        box-shadow: none !important;
    }
}

@include media-breakpoint-down(md) {
    .table {

    }
}
