.pointer-none {
    pointer-events: none !important;
}
.border-radius {
    &__base {
        border-radius: $base-border-radius !important;
    }
}

.opacity {
    &__600 {
        opacity: 0.6;
    }
}