<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssg.boilerplate"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme"
      android:launchMode="singleTask">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <action android:name="fcm.ssg.boilerplate" /> <!-- CHANGE ME -->
          <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        <intent-filter>
          <data android:scheme="ssgfeb" android:host="open" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <!-- <react-native-fcm> -->
      <service android:name="com.evollu.react.fcm.MessagingService">
        <intent-filter>
          <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
      </service>

      <service android:name="com.evollu.react.fcm.InstanceIdService" android:exported="false">
        <intent-filter>
          <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
        </intent-filter>
      </service>
      <!-- </react-native-fcm> -->

      <!-- <FACEBOOK> -->
      <activity tools:replace="android:theme"
              android:name="com.facebook.FacebookActivity"
              android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
              android:label="@string/app_name"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="f640d8339500ff715667f64ccdc95985c4fb9fa0"
        />

      <activity
          android:name="com.facebook.CustomTabActivity"
          android:exported="true">
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="@string/fb_login_protocol_scheme" />
          </intent-filter>
      </activity>

      <meta-data
              android:name="com.facebook.sdk.ApplicationId"
              android:value="@string/fb_app_id"/>
      <!-- </FACEBOOK> -->

      <!-- <react-native-fabric-digits> -->
      <meta-data
              android:name="io.Digits.ApiKey"
              android:value="f640d8339500ff715667f64ccdc95985c4fb9fa0"/>
      <meta-data
              android:name="io.Digits.ApiSecret"
              android:value="6XJT52kvKqoZxjg4c2bJwunATqMrdEUrp44qacULiDZTt0wdbS"/>
      <!-- <react-native-fabric-digits> -->

      <!-- <BRANCH.IO> -->
      <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ajwnUd3ezHRgbK5wLA0l9mbcEBo55Nso" />
      <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
        <intent-filter>
          <action android:name="com.android.vending.INSTALL_REFERRER" />
        </intent-filter>
      </receiver>
      <!-- </BRANCH.IO> -->
    </application>

</manifest>
