//MARGIN AND PADDING
$font-family: Roboto, sans-serif;

// COLORS
$brand-primary: rgb(5, 141, 199);
$brand-secondary: rgb(255,152,0);
$alert-danger-bg: rgb(178, 18, 18);
$alert-danger-border: rgb(203, 25, 48);
$alert-danger-text: rgb(255, 255, 255);

$navbar-color: #9e9e9e;

// INPUT
$input-border-radius: 0px;
$input-height: 50px;
$input-line-height: 25px;
$input-font-size: inherit;
$input-font-weight: 200;
$input-border-color: rgb(224, 224, 224);
$input-placeholder-color: rgb(224, 224, 224);
$input-border-highlight-color: rgb(0, 188, 212);

$pagination-color: #333;

//BUTTONS
$btn-border-radius: 0;
$btn-height: 44px;
$btn-secondary-bg: rgb(240, 240, 240);
$btn-primary-bg: rgb(5, 141, 199);
$btn-primary-light-bg: #61d0de;
$link-color: rgb(5, 141, 199);
$link-color-secondary: rgb(90, 90, 90);
$btn-default-color: rgb(255, 255, 255);
$hover-bg: rgb(240, 240, 240);
$hover-color: inherits;

//Panel
$panel-heading-height: 50px;
$panel-heading-bg: rgb(224, 224, 224);
$panel-heading-color: rgba(0, 0, 0, 0.4);

//TABS
$tab-inactive-color: rgba(255, 255, 255, .75);
$tab-active-color: rgba(255, 255, 255, 1);

//SCAFFOLDING
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;

//GRID
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;

//MODALS
$modal-backdrop-bg: rgba(0, 0, 0, 0.870588);
$modal-header-border-width: 0;

//TRANSITIONS
$button-transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
