.animated-size {
  -webkit-transition: width 200ms, height 200ms;
  transition: width 200ms, height 200ms;
}
.animated-font {
  -webkit-transition: font-size 200ms;
  transition: font-size 200ms;
}

.rating-component{
  display:table;
  width:auto;
}

.fa.star-rating {
  display:table-cell;
  position: relative;
  font-size:24px;

  &.full {
    color: $brand-green;
    &.editable:hover {
      color: #999;
    }
  }
  &.empty {
    color: $brand-green;
    &.editable:hover {
      color: '';
    }
  }
}