@import "variables";
@import "3rdParty/index";
@import "components/index";
@import "flexbox/index";

body {
  background: #fff;
  padding-top: 30px;
  font-family: $font-family;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: 300;
}

input:disabled {
  opacity: 0.4;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.app-container {
  margin-top: 50px;
}

hr {
  color: #f1f1f1;
}

.form-group {
  margin-bottom: $input-padding-y *2;
}