@import './project/variables';
@import '3rdParty/bootstrap/bootstrap-flex';
@import './components/star-rating';
@import './components/input';
@import './components/tabs';
@import './components/modal';
@import './components/panel';
@import './grid';
@import './components/button';
@import './components/select';
@import 'project/custom/flex-table';

body {
  background: #fff;
  padding-top: 30px;
  font-family: $font-family;
  font-weight: 200;
}
h1, h2, h3 {
  font-weight: 300;
}

input:disabled {
  opacity: 0.4;
}

.full-width {
  width: 100%;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}