.stat-item{
    border-right:1px solid $input-border-color;
    padding-bottom:$default-padding * 2;
    &:last-of-type{
        border-right:0;
    }
    .icon-row{
        padding:10px 0 0;
        color:$text-blue-light;
        i{
            font-size:20px;
        }
    }
    .stat{
        font-size:60px;
    }
    p{
        letter-spacing: 0.5px;
        font-size: 14px;
    }
    a{
        display: block;
        padding:$default-padding * 2 0 0;
    }
}

.client-hero{
    background:url('https://static.pexels.com/photos/355241/pexels-photo-355241.jpeg') center center;
    background-size:cover;
    position: relative;
    color:$white;
    
    .overlay{
        background: linear-gradient(#2f4268, #22262e);
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        opacity: 0.9;
    }

    .stat-item{
        border-right:1px solid rgba($text-blue-light, 0.25);
        &:last-of-type{
            border-right:0;
        }
    }
}

.client{
    padding:$default-padding * 2;
    position: relative;

    .client-dev{
        margin-left:$default-margin * 2;
        width:50%;
    }
}

.progress{
    background:#EBEBEB;
    height:8px;
    border-radius: 4px;
    .progress-bar{
        background:linear-gradient(90deg, #34b0b8,#55f5c7);
    }
}


@media (max-width:480px){
	.stat-item{
		width:(100% / 4);
		padding:10px;

		&.graph{
			width:100%;
			border-top:1px solid rgba($text-blue-light, 0.25);
		}

		.icon-row{
			display: none;
		}

		.stat{
			font-size:30px;
		}

		p{
			font-size:10px;
		}
	}

	.client{
		img{
			display: none;
		}

		.client-dev{
			margin-left:0;
			width:100%;
		}
	}

	.panel{
		.list-item-content{
			width:75%;

			&+ul{
				li{
					width:50%;
				}

				&.single{
					li{
						width:100%;
					}
				}
			}
		}
	}
}