.homepage{
	.btn{
		padding:1em 4em;
		box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4)!important;
		letter-spacing: 1px;
		font-weight:bold!important;
	}

	.action-bar{
		position:fixed;
		top:0;
		background:none;
		left:0;
		width:100%;
		z-index: 100;
		border-bottom:0;

		img{
			height:35px;
		}

		a{
			color:$white;
		}

		.help{
			display: none;
		}
	}

	.hero-plan{
		.hero-actions{
			padding-top:2rem;
		}
		.btn{
			box-shadow:none!important;
		}
	}
}

.hero{
	background:url('/images/jsb-bg.jpg') center center;
	background-size:cover;
	height:100vh;
	min-height:100vh;
	color:$white;
	position: relative;

	&.hero-plan{
		background:url('/images/plan-bg.jpg') center center;
		background-size:cover;
		padding-top:60px;

		.form-container{
			border-radius: 4px;
			margin-bottom:40px;
		}

		p{
			margin-bottom:10px;
		}
		.hero-actions{
			p{
				margin-bottom:40px;
			}
		}
	}

	h1{
		font-size: 2.5em;
		font-weight:bold;
	}

	p{
		font-size:1.2em;
	}
}

.hero-actions{
	height:100%;
	width:100%;
	position:relative;
	z-index: 1;
	text-align: center;
	padding-top:calc(100vh / 2.5);
}

.hero-overlay{
	background:radial-gradient(rgba(#384d78, 0.85),rgba(#252c3a,0.85));
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.hero-footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	padding:0 20px 20px 0;

	ul{
		float:right;
		margin:0;
	}
}

.social-list{

	img{
		height:35px;
	}
}

.orange-panel{
	background:$brand-secondary;
	color:$white;
	padding:0 100px 60px;

	.panel-inset{
		background:darken($brand-secondary, 10%);
		padding:40px;

		img{
			margin-bottom:30px;
		}

		button{
			margin-top:20px;
		}
	}
}

ul.titled-list{
	li{
		width:calc(100% /3);
		h2{
			font-size:5em;
			opacity:0.75;
			float:left;
			margin:0;
			width:20%;
			position: relative;
			top:-5px;
		}

		div{
			width:80%;
		}
	}
}

.pricing{
	padding:40px;
}
.plan{
	text-align: center;
	padding:20px;
	color:$text-blue-dark;
	float:left;

	img{
		height:75px;
		margin:20px 0;
	}

	& > .plan-info{
		width:75%;
		margin:0 auto;

		@include media-breakpoint-up(lg) {min-height:265px;}
	}

	.plan-detail{
		min-height:100px;

		& > p {
			margin-top:5px;
			margin-bottom:0;
		}
	}

	.price{
		margin-top:40px;
		margin-bottom:0;

		@include media-breakpoint-down(sm) {}
	}

	button{
		margin-bottom:20px;
	}
}

.testimonials{
	background:$white;
	padding:60px;

	.quote-container{
		img{
			opacity:0.5;
			height:80px;
			margin-bottom:20px;
		}
	}

	p{
		font-size:1.2em;
		width:60%;
		margin:0 auto;

		&.quote{
			margin-bottom:10px;
		}
	}

	ul{
		margin-top:20px;
	}
}

footer{
	background:$text-blue-dark;
	color:$white;
	padding:30px 20px;

	.brand{
		height:30px;
	}

	ul{
		li{
			opacity:0.75;

			&:hover{
				opacity: 1;
			}
		}
	}

	.legal{
		a{
			color:#fff;
			font-size:0.75em;
		}
	}
}

@media(max-width: 480px){
	.orange-panel{
		padding:0;

		.panel-inset{
			padding:10px 10px 30px;

			img{
				width:90%;
				margin:0 auto 20px;
			}
		}

		ul.titled-list{
			padding-top:20px;

			li{
				width:100%;
			}
		}
	}

	.testimonials{
		padding:20px;

		p{
			width:100%;
		}
	}

	.homepage .action-bar{
		position:absolute;
	}

	.hero{
		.hero-actions{
			padding-top:100px;
		}
	}
}